<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Necroyard</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically update the schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping classes -->
        <mapping class="step.world.instance.LobbyInstance"/>
        <mapping class="step.world.instance.PlayerInstance"/>
        <mapping class="step.world.instance.DungeonInstance"/>

    </session-factory>
</hibernate-configuration>